<div class="page-header page-header-small" filter-color="purple" style="height: 40vh;">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/img/lisbon2.jpg');">
    </div>
    <div class="container">
        <div class="content-center" style="padding-top: 5cm; padding-bottom: 1cm">
            <h1 class="title">SBFT 2024</h1>
            <div class="text-center">
                <h5>21th TAROT Summer School on Software Testing, Verification & Validation</h5>
                <h5>July 2026, Munich, Germany</h5>
                
            </div>
        </div>
    </div>
</div>